.App {
  text-align: center;
}

.list-group-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.list-group-item > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 20px;
  font-size: 15px;
}

.icon-list {
  padding: 10px;
}

input {
  width: 40%;
  height: 30px;
  align-items: flex-start;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

button {
  width: 10%;
  height: 50px;
  margin-left: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.content {
  width: 86%;
}
